<div class="slide">
  <div class="image">
    <img src="{{ image.src }}" alt="{{ image.alt }}">
  </div>
  <div class="text">
    <p>{{ title }}</p>
    <a href="{{ link.ref }}">{{ link.text|upper }}</a>
  </div>
</div>